{% extends "base.html" %} {% load static %} {% block header_content %}
{{block.super }}
<head>
  <title>OpenCV Masker</title>
</head>
<body>
  <main>
    <vstack spacing="m">
      <vstack spacing="s" stretch="" align-x="center" align-y="center">
        <h1>Welcome to OpenCV Masker</h1>
        <p>Add instructions here</p>
      </vstack>
      <spacer></spacer>
      <vstack spacing="l">
        <vstack spacing="xs">
          <aside class="pa-s">
            <vstack>
              <form action="{% url 'homepage' %}" method="POST">
                {% csrf_token %}
                <vstack spacing="s">
                  <vstack>
                    {{form}}
                    <button type="upload" name="button">Upload Video</button>
                  </vstack>
                </vstack>
              </form>
            </vstack>
          </aside>
        </vstack>
      </vstack>
      <spacer></spacer>
      <vstack spacing="xs">
        <aside>
          <dl>
            <vstack>
              <vstack class="pa-s">
                <h3>Input Video sample</h3>
                <p>A sample input video</p>
              </vstack>
              <hr />
              <vstack spacing="m" class="pa-s">
                <vstack align-x="center">
                  <iframe
                    width="640"
                    height="480"
                    src="https://www.youtube.com/embed/zWH5yFCHgoA"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  ></iframe>
                </vstack>
              </vstack>
            </vstack>
          </dl>
        </aside>
      </vstack>
      <spacer></spacer>
      <vstack spacing="xs">
        <aside>
          <dl>
            <vstack>
              <vstack class="pa-s">
                <h3>Output Video sample</h3>
                <p>A sample output video</p>
              </vstack>
              <hr />
              <vstack spacing="m" class="pa-s">
                <vstack align-x="center">
                  <iframe
                    width="640"
                    height="480"
                    src="https://www.youtube.com/embed/Br0PzOEdTY8"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  ></iframe>
                </vstack>
              </vstack>
            </vstack>
          </dl>
        </aside>
      </vstack>
      <spacer></spacer>
    </vstack>
  </main>
</body>
{% endblock header_content %}
